# IDEs and editors
/.idea
/.vscode

# typedoc documentation
/doc

# Autotest (configuration)
/**/obs-autotest.properties

# Autotest (Java/Maven)
/autotest/build
/autotest/target
/autotest/**/*.class
/autotest/**/*.jar
/autotest/**/*.log

# Autotest (IDE)
/autotest/.idea
/autotest/**/*.iml


/target
*.iml
*.log
